@{
    ViewBag.Title = "Nutrition Calculator";
}

<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Nutrition Calculator
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">Nutrition Calculator</li>
    </ol>

</div>
<!-- /.container -->